<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <b>Bu sitemizin şablon kısmı</b>
        <a href="">Link 1</a>  <a href="">Link 2</a>

        @RenderBody()
    </div>
</body>
</html>
